/* Links & Buttons */

.button-format {
    padding: 8px;
    border: 2px solid;
    border-radius: 8px;
    width: calc(100% - 24px);
    text-align: center;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-width: 560px) { 
    .button-format {
        padding: 12px;
    }
}

@media screen and (min-width: 560px) { 
    .button-format {
        width: fit-content;
    }
}
  
.button-format.light-button:hover{
    opacity: 0.8;
}
.button-format.dark-button:hover{
    opacity: 0.8;
}
.large-button {
    font-size: 1.5em;
}
.medium-button {
    font-size: 1.3em;
}
.small-button {
    font-size: 1em;
    padding: 8px;
    height: fit-content;
}