.media-content-component, .content-container {
    background-repeat: no-repeat;
    background-size: cover ;
}
.media-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.media-content-elements-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    flex-wrap: wrap;
}

.media-container {
    flex: 0 0 100%;
}
@media screen and (min-width: 768px) { 
    .media-container {
        flex: 0 0 calc(40% - 16px);
    }
}

.media-container.full-width-image {
    flex: inherit;
}
.media-container img{
    max-width: 100%;
    height: auto;
}
.content-container {
    flex: 1 1;
    padding: 10px;
    order: 0;
}

.media-content-elements-container.content-left-alignment .content-container{
    order: 0;
}
.media-content-elements-container.content-left-alignment .media-container{
    order: 1;
}