.card-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px; 
}
.padding-container-card {
  padding: 16px;
  border-radius: 12px;
  width: 100%;
}

.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
img {
  max-width: 100%;
  height: auto;
}
.card-title-container {
  font-size: 18px;
  margin-bottom: 8px;
}
.card-subTitle-container {
  font-size: 16px;
}
.card-elements-container {
  width: 100%;
}
.card-description-container {
  font-size: 14px;
}
.card-button-container{
  padding: 1rem 0;
}