/* General */

h1, h2, h3, h4, h5 {
  margin: 0;
}
h1 {
  font-size: 4em;
  line-height: 1.2em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.17em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.83em;
}
p {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 1em;
}
p:last-child {
  margin-bottom: 0px;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}


/* Custom classes */
.bold {
  font-weight: 700;
}
 
.max-container {
  max-width: calc(100% - 3rem);
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .max-container {
    max-width: calc(100% - 4rem);
    width: 1440px;
  }
}

/* Margins */

.margin-bottom-32 {
  margin-bottom: 32px;
}

.margin-bottom-28 {
  margin-bottom: 28px;
}
.margin-bottom-24 {
  margin-bottom: 24px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

/* Layout */
 
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
main {
  height: 100%;
}

section > div {
  width: 100%;
}

.padding-container {
  padding: 40px 0px;
}

/* Navbar */

.main-header .main-navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--black);
}
.main-header .main-navbar a:not(.button-format) { 
  color: var(--white);
}
.main-header .main-navbar .nav-elements {
  display: flex;
  gap: 20px;
}

.main-header .main-navbar .right-elements {
  display: flex;
  gap: 20px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--black);
  color:var(--white);
}

/* Text alignment */

.right-alignment {
  text-align: right;
}
.right-alignment .buttons-container {
  justify-content: flex-end;
}
.center-alignment {
  text-align: center;
  margin:  0 auto;
}
.center-alignment .buttons-container {
  justify-content: center;
}
.left-alignment {
  text-align: left;
}