.multi-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    cursor: pointer;
}
.heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.multi-cards-elements-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
}
.multi-cards-elements-container.one-card .card-component {
    flex: 0 0 calc(100% - 32px);
}
.multi-cards-elements-container.two-cards .card-component {
    flex: 0 0 calc(50% - 24px);
}
.multi-cards-elements-container.three-cards .card-component{
    flex: 0 0 calc(calc(100% / 3) - 24px);
}
.multi-cards-elements-container.four-cards .card-component{
    flex: 0 0 calc(25% - 48px);
    max-width: calc(25% - 48px);
}
